body{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
h1{
    font-size: 50px;
}
p{
    margin-bottom: 80px;
    padding: 2% 2%;
}
.org{
    color: orange;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #f50655 0%, #e74747 51%, #ff0055 100%) ;
    color: black;
    font-weight: 700;
    padding: 15px 45px;
    border-radius: 20px;

}

.flx{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width: 50%;
}
.second{
    background-image: url(img/box.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.third{
    margin-top: 20px;
    text-align: center;
 
}
.forth{
    display: flex;
float: left;
    
}
.rr{

    height: 20%;
    width: 20%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: grey;
    box-shadow: salmon;

}
.i{ height: 100%;
    width: 100%;
  

}
.mm{
    height: 20%;
    width: 20%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: grey;
    box-shadow: salmon;
}


.ii{ height: 100%;
    width: 100%;}

    .ll{
        height: 20%;
        width: 20%;
        margin-left: 5%;
        padding-left: 20px;
        border-radius: 10px;
        background-color: grey;
        box-shadow: salmon;
    }
.iii{height: 100%;
    width: 100%;

}

.red{
    color: red;
}
.fl{
    text-align: center;
    margin: 20px 20px ;
    
 
}

.oop{ text-align: center;

}

